<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com._520it.rbac.mapper.DepartmentMapper">
	<!-- 添加一条数据 -->
	<insert id="save" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
		insert into department(name,sn) values(#{name},#{sn})
	</insert>
	<!-- 删除 -->
	<delete id="delete">
		delete from department where id=#{id}
	</delete>
	<!-- 修改 -->
	<update id="update">
		update department set name=#{name},sn=#{sn} where id=#{id}
	</update>
	<!-- 查询一条数据 -->
	<select id="get" resultType="Department">
		select id,name,sn from department where id=#{id}
	</select>
	<!-- 查询所有数据 -->
	<select id="getAll" resultType="Department">
		select id,name,sn from department
	</select>
	
	<!-- 分页:总数据数 -->
	<select id="queryForCount" resultType="int">
		select count(*) from department
	</select>
	<!-- 分页:所有数据 -->
	<select id="queryForList" resultType="Department">
		select id,name,sn
		from department
		limit #{startIndex},#{pageSize}
	</select>
</mapper>
  