<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com._520it.rbac.mapper.PermissionMapper">
	<!-- 添加一条数据 -->
	<insert id="save" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
		insert into permission(name,expression) values(#{name},#{expression})
	</insert>
	<!-- 删除 -->
	<delete id="delete">
		delete from permission where id=#{id}
	</delete>
	<!-- 查询所有数据 -->
	<select id="getAll" resultType="Permission">
		select id,name,expression from permission
	</select>
	
	<!-- 分页:总数据数 -->
	<select id="queryForCount" resultType="int">
		select count(*) from permission
	</select>
	<!-- 分页:所有数据 -->
	<select id="queryForList" resultType="Permission">
		select id,name,expression
		from permission
		limit #{startIndex},#{pageSize}
	</select>

	<!-- 查询所有数据 -->
	<select id="getExpression" resultType="String">
		select expression from permission
	</select>
	
	<!-- 根据角色的id获取该角色的权限: -->
	<select id="getPermissionByRoleId" resultType="Permission">
		select p.id,p.name,p.expression from permission p left join role_permission rp on p.id = rp.permissionId
		where roleId=#{id}
	</select>
</mapper>
  